<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CrystalReportsApplication2.Properties.Settings.PruebaConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Prueba.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="BdInventario.Properties.Settings.mysqlbdinventario1"
      connectionString="server=localhost;user id=root;database=bdinventario"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>