<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="BdInventario.Properties.Settings.BdInventarioSQLConnectionString"
      connectionString="Data Source=LADA\SQLEXPRESS;Initial Catalog=BdInventarioSQL;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BdInventario.Properties.Settings.ClientBdInventarioSQLConnectionString"
      connectionString="Data Source=|DataDirectory|\BdInventarioSQL.sdf;Max Database Size=2047"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="BdInventarioSQLEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LADA\SQLEXPRESS;initial catalog=BdInventarioSQL;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BdInventario.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=|DataDirectory|\Database1.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="BdInventario.Properties.Settings.C__PROGRAM_FILES_MICROSOFT_SQL_SERVER_MSSQL11_LADA1_MSSQL_DATA_BDINVENTARIOSQL_MDFConnectionString"
      connectionString="Data Source=LADA1PORTATIL\LADA;Initial Catalog=&quot;C:\PROGRAM FILES\MICROSOFT SQL SERVER\MSSQL11.LADA1\MSSQL\DATA\BDINVENTARIOSQL.MDF&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BdInventario.Properties.Settings.BdInventarioConnectionString"
      connectionString="Data Source=LADA1PORTATIL\LADA;Initial Catalog=BdInventario;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BdInventario.Properties.Settings.mysqlbdinventario"
      connectionString="server=localhost;User Id=root;database=bdinventario"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>